.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
*.sw*
spec/dummy/public/system/dragonfly/
coverage
spec/spec_failing_examples.txt
spec/spec_report.html
spec/dummy/tmp/*

# Imagine specific
imagine-*.gem

# vim-ruby-debugger
posix

# Gems shouldn't commit their lockfile
Gemfile.lock
